body {
  background-color: black;
      color: white;

  font-family: Courier;
      }

.tab { margin-left: 40px; }

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  position: relative;
}

/* On mouse-over */
.btn:hover {background: #A9A9A9;}

.welcome {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
transform: translate(-50%, -50%)}

